.align-right {

    text-align: center;

    border: 10;

  }



  .navBardemoBasicUsage md-content .ext-content {

    padding: 50px;

    margin: 20px;

    background-color: #FFF2E0; }



    img {

        width: 100px;

    }