.alert {
    padding: 20px;
    background-color: #36f475;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}

img {
    width: 100px;
}

.error-message {
    color: red;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}